$link-color: #34AADD;
$link-color-hover: #34AADD;
$link-color-active: #F95A59;

$navbar-color: #768298;
$navbar-border-color: #EBEBF1;

$background-input: #FAFAFA;

$background-news: #F0F0F0;

$span-color: #BBC4D6;

